/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* body & general classes*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
}
p{
    font-weight: 300;
    color: #111;
    line-height: 2rem;
}
.radius{
    border-radius: 2rem;
}
.btn{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}
.my-5{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
/* ------ banner section ------------ */
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../image/bg.jpg);
    background-size: cover;
}
.banner .content{
    max-width: 900px;
    text-align: center;
    
}
.banner .content h2{
    font-size: 5em;
    color: #fff;
}
.banner .content p{
    font-size: 1em;
    color: #fff;
}
.btn:hover{
    letter-spacing: 6px;
}
/* ----------- navigation bar ---------------  */
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}
header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header .logo span{
    color: #ff0157;
}
header .navbar{
    position: relative;
    display: flex;
}
header .navbar li{
    list-style: none;
    margin: 30px;
}
header .navbar li a{
    text-decoration: none;
    font-weight: 400;
    color: #fff;
}
header.sticky{
    background: #fff;
    padding: 1px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header.sticky .logo{
    color: #111;
}
header.sticky .navbar li a{
    color: #111;
}
header .navbar li a:hover{
    color: #ff0157;
}
/* -------------- about section -------------- */
section{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col-6{
    position: relative;
    width: 48%;
}
.titleText{
    font-size: 2em;
    font-weight: 300;
    color: #111;
}
.titleText span{
    font-weight: 700;
    font-size: 1.5em;
    color: #ff0157;
}
.row .col-6 .imgBox{
    position: relative;
    width: 100%;
    height: 100%;
}
.row .col-6 .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* -------------- program section --------------- */
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.program .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.program .content .box{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}
.program .content .box .imgBox{
    position: relative;
    width: 100%;
    height: 300px;
}
.program .content .box .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.program .content .box .text{
    padding: 15px 0 5px;
    display: flex;
    justify-content: center;
}
.program .content .box h3{
    font-weight: 400;
    color: #111;
}
/* ------------- section expert ------------- */
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .box{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 40px;
}
.container .box .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
    z-index: 2;
}
.container .box:hover .imgBx{
    transform: translate(-35px,-35px); 
}
.container .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .box .content-exp{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff0157;
    transition: 0.5s ease-in-out;
    z-index: 1;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    padding: 15px;
}
.container .box:hover .content-exp{
    transform: translate(35px,35px); 
}
.container .box .content-exp h2{
    font-weight: 500;
    font-size: 20px;
    color: #111;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
}
.container .box .content-exp h2 span{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}
/* ----------- contact ----------- */
.contact{
    background: url(../image/bg1.jpg);
    background-size: cover;
    object-fit: cover;
    width: 100%;
    
}
.contactForm{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-top: 50px;
}
.contactForm h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    border: none;
    width: 100%;
    border-bottom: #555 solid 1px;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactForm .inputBox input[type="submit"]{
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    border: none;
    cursor: pointer;
}
/* ---- footer ---------- */
.copyRight{
    padding: 8px 40px;
    border-top: 1px;
    text-align: center;
}
.copyRight p{
    color: #333;
}
.copyRight a{
    color: #ff0157;
    font-weight: 500;
    text-decoration: none;
}
/* ------ sociel media button ------- */
.social{
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9999;
    transform: translate(-250px,0);
}
.social a{
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin: 5px;
    padding: 20px;
    width: 300px;
    text-align: right;
    border-radius: 50px;
    transition: 1s;
    transition-property: transform;
    box-shadow: rgba(0, 0, 0, 0.5);
}
.social a:hover{
    transform: translate(140px,0);
}
.social i{
    margin-left: 10px;
    font-size: 30px;
    width: 30px;
    height: 30px;
}
.social a:nth-child(1) i{
    color: #4267B2;
}
.social a:nth-child(2) i{
    color: #1DA1F2;
}
.social a:nth-child(3) i{
    color: #0077b5;
}
.social a:nth-child(4) i{
    color: #BD081C;
}
/* ------------ media query ----------  */
@media (max-width: 1100px){
    header,
    header.sticky{
        padding: 10px 10px;
    }
}
@media (max-width: 991px){
    header,
    header.sticky{
        padding: 10px 10px;
    }
    header .navbar{
        display: none;
    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../image/menu.png) no-repeat center;
        background-size: 30px;
        cursor: pointer;
    }
    .menuToggle.active{
        position: relative;
        
        background: url(../image/close.png) no-repeat center;
        background-size: 25px;
        cursor: pointer;
    }
    header.sticky .menuToggle{
        filter: invert(1);
    }
    header .navbar.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navbar li {
        margin-left: 0px;
    }
    header .navbar li a {
        text-decoration: none;
        font-weight: 300;
        color: #111;
        font-size: 1.6em;
    }
    .banner .content h2 
    {
        font-size: 3em;
    }
    section{
        padding: 15px;
    }
    .row{
        flex-direction: column;
    }
    .row .col-6 {
        width: 100%;
    }
    .row .col-6 .imgBox {
        height: 300px;
        margin-top: 20px;
    }
    .titleText {
        text-align: center;
    }
    p{
        text-align: center;
    }
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:400px){
    .banner .content h2 
    {
        font-size: 2.1em;
    }
    .social {
        display: none;
    }
}